.paginationBttns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}
.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

@media screen and (max-width: 780px) {
  .paginationBttns a {
    background-color: white;
    color: #2b2eff;
    float: left;
    border:none;
    padding:  15px;
    margin-left: 0;
    margin: 0 auto !important;
    text-decoration: none;
  }
  .paginationActive ul {
    margin-left: 0;
    padding-inline-start: none;
    }
    .paginationBttns {
      display: relative;
      width: 300px;
      float: left;
      margin-left: 0 !important;
    }
}

